<!DOCTYPE html>
<html ng-app="app">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="../js/projectInfoController.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>

    <body ng-controller="ProjectInfoController">
        <div style="padding: 10px;">
            <form method="post">
                Select directory with project:
                <input type="text" ng-model="selectedPath">
                <input type="button" value="Perform analysis" ng-click="performAnalysis()">
            </form>
        </div>
        <h3>
            Project info:
        </h3>
        <div class="row">
            <div class="col-md-2">
                <div >
                    <ul class="list-group">
                        <li class="list-group-item clickable" ng-click="setAllFilesForSelect()">Project name: {{projectInfo.projectName}}</li>
                        <li class="list-group-item clickable" ng-click="setAllFilesForSelect()">Total number of files: {{projectInfo.totalNumberOfFiles}}</li>
                        <li class="list-group-item clickable" ng-click="setSourceFilesForSelect()">Number of source files: {{projectInfo.numberOfSourceFiles}}</li>
                        <li class="list-group-item clickable" ng-click="setClassFilesForSelect()">Number of class files: {{projectInfo.numberOfClassFiles}}</li>
                        <li class="list-group-item clickable" ng-click="setXmlFilesForSelect()">Number of xml files: {{projectInfo.numberOfXmlFiles}}</li>
                        <li class="list-group-item clickable" ng-click="setClassesForSelect()">Number of classes: {{projectInfo.numberOfClasses}}</li>
                        <li class="list-group-item clickable" ng-click="setInterfacesForSelect()">Number of interfaces: {{projectInfo.numberOfInterfaces}}</li>
                        <li class="list-group-item clickable" ng-click="setEnumsForSelect()">Number of enums: {{projectInfo.numberOfEnums}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div >
                    <ul class="list-group" >
                        <li class="list-group-item clickable" ng-repeat="currentFile in filesForSelect" ng-click="showItemInfo(currentFile)">{{currentFile.title}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active">
                            <a href="#infoTab" role="tab" data-toggle="tab">
                               Information
                            </a>
                        </li>
                        <li>
                            <a href="#sourceTab" role="tab" data-toggle="tab">
                               Source code
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="infoTab">
                            <div class="classStructuredInfo" ng-show="javaItemIsSelected()">
                                <h4>{{dataToDisplay.info.title}}</h4>
                                <ul class="list-group" style="width: 500px;">
                                    <li class="list-group-item">
                                        Number of fields:
                                        <span class="badge badge-important">{{dataToDisplay.info.numberOfFields}}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="glyphicon glyphicon-tag"></span>
                                        Public:
                                        <span class="badge">{{dataToDisplay.info.numberOfPublicFields}}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="glyphicon glyphicon-tag"></span>
                                        Protected:
                                        <span class="badge">{{dataToDisplay.info.numberOfProtectedFields}}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="glyphicon glyphicon-tag"></span>
                                        Private:
                                        <span class="badge">{{dataToDisplay.info.numberOfPrivateFields}}</span>
                                    </li>

                                    <li class="list-group-item">
                                        Number of constructors:
                                        <span class="badge badge-important">{{dataToDisplay.info.numberOfConstructors}}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="glyphicon glyphicon-tag"></span>
                                        Public:
                                        <span class="badge">{{dataToDisplay.info.numberOfPublicConstructors}}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="glyphicon glyphicon-tag"></span>
                                        Protected:
                                        <span class="badge">{{dataToDisplay.info.numberOfProtectedConstructors}}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="glyphicon glyphicon-tag"></span>
                                        Private:
                                        <span class="badge">{{dataToDisplay.info.numberOfPrivateConstructors}}</span>
                                    </li>

                                    <li class="list-group-item">
                                        Number of methods:
                                        <span class="badge badge-important">{{dataToDisplay.info.numberOfMethods}}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="glyphicon glyphicon-tag"></span>
                                        Public:
                                        <span class="badge">{{dataToDisplay.info.numberOfPublicMethods}}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="glyphicon glyphicon-tag"></span>
                                        Protected:
                                        <span class="badge">{{dataToDisplay.info.numberOfProtectedMethods}}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="glyphicon glyphicon-tag"></span>
                                        Private:
                                        <span class="badge">{{dataToDisplay.info.numberOfPrivateMethods}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="notClassStructuredInfo" ng-show="!javaItemIsSelected()">
                                <h4>{{dataToDisplay.info.title}}</h4>
                                <h5>{{dataToDisplay.info.description}}</h5>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="sourceTab">
                            <h2>{{dataToDisplay.source}}</h2>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </body>
</html>